/* * {
  height: 4000vh;
  width: 2560vw;
} */

.main-content {
  min-height: 1000px;
  /* subtract the height of the header and footer */
}

.main-content-2 {
  height: 80vh;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Navbar */
.mainNav {
  background: linear-gradient(180deg, #52619A 50.62%, rgba(128, 159, 219, 0) 233.95%);
  /* set the background color to dark */
  color: white !important;
  /* set the text color to white */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vh;
  font-weight: 400;
  text-decoration: underline;
}




.nav {
  display: flex;
}

.nav-link {

  color: white !important;
  font-family: 'Lato', sans-serif !important;
  /* set the link text color to white */
}

.div-links {
  justify-content: space-between;
}

/* Login */
.log-container {
  justify-content: center;
}

/*Admin Dashboard*/
.admin-dashboard {
  margin: 1rem;
}

.admin-card-row {
  margin-bottom: 1rem;
}


/* Headers */
.main-logo-page {
  width: 100%;

  background: linear-gradient(90deg, #C5DFEA 44.93%, #809FDB 65.83%);

}

@media (max-width: 767px) {
  .main-logo-page .container .row .col-lg-10 {
    justify-content: center;
    text-align: center;
    background: linear-gradient(90deg, #C5DFEA 44.93%, #809FDB 65.83%);
  }

  .main-logo-page .container .row .col-lg-10 img {
    display: block;
    margin: 0 auto;
  }

  .company-name {
    display: none;
  }
}

/* Register */
.register-div {
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 50vw;
}

/* Headers */

.company-name {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 5rem;
}


/* HOME PAGE */

.main-home-page {

  margin: 0 auto;
}

.homepage-container {
  position: relative;
  height: 60;
  width: 150w;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.homepage-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./imgs/manpushups.webp');
  background-size: 60%;
  background-position: right center;
  background-repeat: no-repeat;
  z-index: -1;
}

.homepage-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #161412 38.82%, rgba(0, 0, 0, 0) 100%);
  z-index: -2;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 767px) {
  .homepage-container::before {
    background-size: auto 100%;
    background-position: center top;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .homepage-container::before {
    background-size: 100% auto;
    background-position: center center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .homepage-container::before {
    background-size: 100% auto;
    background-position: right center;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .homepage-container::before {
    background-size: 80% auto;
    background-position: right center;
  }
}

@media (min-width: 1400px) {
  .homepage-container::before {
    background-size: 80% auto;
    background-position: right center;
  }
}


.homepage-content {
  padding: 3rem;
  max-width: 600px;
  text-shadow: 7px 5px 5px #161C2E;
  margin-left: 10rem;
}

.homepage-content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.homepage-content p {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.homepage-buttons button {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 2.5rem;
  margin-right: 1rem;
  border: 1px solid black;
  background: linear-gradient(180deg, #52619A 50.62%, rgba(128, 159, 219, 0) 233.95%);
  color: #fff;
  cursor: pointer;
  border-radius: 41px;
  box-shadow: 3px 3px white;
}

.homepage-buttons button {
  transition: all 0.3s ease;
}

.homepage-buttons button:hover {
  background-color: #161C2E;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .homepage-content {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .homepage-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .homepage-content p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .homepage-buttons {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .homepage-buttons button {
    margin: 0.5rem;
  }
}


/* CART */
.main-container-cart {

  height: 2000px;

}

.no-items-cart-div {

  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  height: 100%;
}

.no-items-cart {
  font-size: 24px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

/* Footer */
.footer {
  padding-top: 20px;
  width: 100%;
  min-height: 200px;
  line-height: 25px;
  background-color: #52619A;
  color: white;
}

@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 30px 0;
  }
}

.footer .container {
  max-width: 960px;
  margin: 0 auto;
}

.footer .text-muted {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-custom {
  border-radius: 10px;
  margin: 10px;
}


.hot-products-text {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: black;
  text-shadow: whitesmoke 15px 5px;
  font-weight: 900;
  font-size: 5vw;
  border: 1px solid black;
  margin-top: 2rem;
  height: 15vw;
  margin-bottom: 5vh;
  background-position: center;

}

.products-text {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: black;
  font-weight: 900;
  font-size: 4vh;
  margin-top: 2rem;
  margin-bottom: 5vh;
}


.polar-text {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: black;
  text-shadow: #6d0707 .5vw .25vw;
  font-weight: 900;
  font-size: 4vw;
  margin-top: 2rem;
  margin-bottom: 5vh;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C5DFEA;
  margin-bottom: 2rem;
  max-height: 80vh;
  max-width: 120vw;

}

.carousel-item {
  max-height: 29vw;
  width: 100%;
  /* set the height to a fixed value */
  overflow: hidden;
  /* hide any overflowing content */
}

.carousel-item img {
  height: 100%;
  /* make sure the image fills the height of the carousel item */

  /* let the width adjust to maintain aspect ratio */
}

.card {
  box-shadow: #000000 1px 1px;
  margin-bottom: 1vw;
  background-color: white;
}

.fixed-card {
  min-height: 800px;
  min-width: 400px;
  max-width: 800px;
  height: 400px;
  /* Set the maximum width to the desired value */
}